<h1 style="background-color: red;">{{title}}</h1>
<div *ngIf="success_msg; then update_msg; else error_msg;">
    Logged in Successfully !
</div>
<ng-template #error_msg>
    Login Failed !
</ng-template>
<ng-template #update_msg>
    Update Data !
</ng-template>

<ul>
    <li *ngFor="let con of contact;index as i; first as f; last as l">
        <div *ngIf="f">This is First Record !</div>
        <div *ngIf="l">This is Last Record !</div>
        <div>{{ i }}{{con.firstname}}{{con.lastname}}{{con.contact}}</div>
        
    </li>
    
</ul>
<p>This is new Table </p>
<ul>
    <li *ngFor="let con of contact;index as i;even as e; odd as o">        
        <div *ngIf="e" style="background-color: darkgray;">{{con.firstname}}{{con.lastname}}{{con.contact}}</div>
        <div *ngIf="o" style="background-color: gray;">{{con.firstname}}{{con.lastname}}{{con.contact}}</div>
    </li>
</ul>
<router-outlet></router-outlet>
