<h1 style="background-color: red;">{{title}}</h1>
<div *ngIf="success_msg; then update_msg; else error_msg;">
    Logged in Successfully !
</div>
<ng-template #error_msg>
    Login Failed !
</ng-template>
<ng-template #update_msg>
    Update Data !
</ng-template>

<ul>
    <li *ngFor="let con of contact;index as i; first as f; last as l">
        <div *ngIf="f">This is First Record !</div>
        <div *ngIf="l">This is Last Record !</div>
        <div>{{ i }}{{con.firstname}}{{con.lastname}}{{con.contact}}</div>
        
    </li>
    
</ul>
<h3>Working with ngFor and ngIf</h3>
<ul>
    <li *ngFor="let con of contact;index as i;even as e; odd as o">        
        <div *ngIf="e" style="background-color: darkgray;">{{con.firstname}}{{con.lastname}}{{con.contact}}</div>
        <div *ngIf="o" style="background-color: gray;">{{con.firstname}}{{con.lastname}}{{con.contact}}</div>
    </li>
</ul>

<h3>Working with ngSwitchCase</h3>
<div [ngSwitch]="day">
    <div *ngSwitchCase="1">Today is Sunday</div>
    <div *ngSwitchCase="2">Today is Monday</div>
    <div *ngSwitchCase="3">Today is Tuesday</div>
    <div *ngSwitchCase="4">Today is Wednesday</div>
    <div *ngSwitchCase="5">Today is Thursday</div>
    <div *ngSwitchCase="6">Today is Friday</div>
    <div *ngSwitchCase="7">Today is Saturday</div>
    <div *ngSwitchDefault>Enter Number between 1-7</div>
</div>




<router-outlet></router-outlet>
